

<div class="row mt-5">
    <div class="com-md-6 m-auto">
            <h1>Do you have a hall?</h1>
            <!-- <a href="students/residential-application">Click here to apply now</a> -->
            <h5 class="text-muted text-center">Login to apply now!</h5>
        <form action="/login" method="POST" class="form">
                <div class="form-group">
                    <label for="studentID">Student ID: </label>
                    <input class="form-control" type="text" name="studentID" id="studentID" placeholder="Student ID" required>
                </div>
                <div class="form-group">
                    <label for="studentPin">PIN: </label>
                    <input class="form-control" type="password" name="studentPin" id="studentPin" placeholder="PIN" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="submit" name="submit" id="submit" class="btn btn-primary btn-block">
                </div>  
        </form>
    </div>
</div>